[Unit]
Description=Take Break Script
After=graphical.target

[Service]
ExecStart=/home/shivang/.local/bin/take-break.sh
Restart=always
RestartSec=10
Environment=DISPLAY=:0
Environment=XDG_RUNTIME_DIR=/run/user/1000

[Install]
WantedBy=default.target
