configuration{
    modi: "emoji";
    icon-theme: "Oranchelo";
    show-icons: true;
    terminal: "kitty";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: true;
    hide-scrollbar: true;
    display-emoji: " 😀 Emoji";
    sidebar-mode: true;
}

@theme "catppuccin-mocha"
