*,
*::before,
*::after {
  font-family: 'JetBrainsMono Nerd Font', 'JetBrains Mono', monospace !important;
}

body {
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.069em;
  font-weight: 500;
  font-style: normal;
}

#urlbar-background,
#searchbar {
  border-radius: 20px !important;
}

.tab-background {
  border-radius: var(--border-radius-circle) !important;
}

.titlebar-buttonbox-container {
  display: none !important;
}

#nav-bar {
  margin-top: 15px;
  margin-bottom: 10px;
  /*display: none;*/
}

.tabbrowser-tab {
  max-width: 150px !important;
}

#urlbar-input {
  padding-left: 10px !important;
}

#navigator-toolbox:hover #nav-bar {
  display: flex !important; 
}
#navigator-toolbox[fullscreenShouldAnimate] {
  transition: 100ms !important;
}
